.joke {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;   
    border-radius: 20px; 
    background-color: #F8F8F8;
    font-style: normal;
    .joke__fav-button {
        display: flex;
        justify-content:flex-end;
    }
    .joke__container {
        margin-top: 10px;
        display: flex;
        .joke__container-left {
            width: 40px;
            .joke__icon {
                width: 100%;
                height: 40px;
                background-color: rgba(255, 255, 255, 0.788);
                border-width: 11px 10px 10px 10px;
                border-color: rgb(255, 255, 255);
                border-style: solid;
                border-radius: 50%;
                overflow: visible;
            }
            .fav-joke__icon {
                background-color:  #F8F8F8;
                border-color:  #F8F8F8;
            }
        }
        .joke__container-right {
            width: calc(100% - 40px);
            padding-left: 20px;
            .joke__link {
                height: 14px;
                line-height: 14px;
                .joke__link-content {
                    height: 100%;
                    width: auto;
                    margin-right: 5px;
                    display: inline-block;
                    vertical-align: top;
                    font-size: 10px;
                    font-weight: 500;
                    color: #ABABAB;
                    a {
                        color: rgb(142,167,255);
                    }
                }
                .joke__link-icon {
                    display: inline-block;
                    vertical-align: top;
                }
            }
            .joke__value {
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
                margin-top: 5px;
            }
            .fav-joke__value {
                font-size: 14px;
                line-height: 20px;
            }
            .joke__info {
                height: 24px;
                display: flex;
                justify-content: space-between;
                margin-top: 23px;
                .joke__last-update {
                    margin-bottom: 5px;
                    height: 100%;
                    line-height: 14px;
                    align-self: flex-end;
                    font-weight: normal;
                    font-size: 10px;
                    color: #ABABAB;
                    span {
                        font-weight: bold;
                    }
                }
                .joke__category {
                    width: auto;
                    height: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    background-color: #FFFFFF;
                    border-radius: 6px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    padding: 6px 20px;
                } 
                .joke__last-update,
                .joke__category {
                    font-size: 10px;
                }
            }
            .fav-joke__info {
                height: 14px;
                margin-top: 20px;
            }
        }
    }
   
}
.fav-joke {
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #F8F8F8;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
