<main class="main">
  
  <header class="header">
    <div class="header__left">MSI 2020</div>
    <div class="header__right">
      <span>
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="14" cy="14" r="14" fill="#333333"/>
          <rect x="7" y="16" width="14" height="2" rx="1" fill="white"/>
          <rect x="7" y="10" width="14" height="2" rx="1" fill="white"/>
        </svg>
      </span>
      <span>Favourite</span>
    </div>
  </header>

  <div class="heading">
    <p>Hey!</p>
    <p>Let's try to find a joke for you:</p>
  </div>

  <form class="joke-form"
        [formGroup]="jokeForm">
    <mat-radio-group class="joke-form__radio-group"
                     formControlName="getJokeBy">
      <div class="joke-form__random">
        <mat-radio-button class="joke-form__radio joke-form__random-radio" 
                          value="getJokeByRandom" 
                          checked>
                          Random
        </mat-radio-button>
      </div>
      <div class="joke-form__category">
        <mat-radio-button class="joke-form__radio joke-form__category-radio" 
                          value="getJokeByCategory">
                          From categories
        </mat-radio-button>
        <div class="joke-form__category-group"
             *ngIf="jokeForm.get('getJokeBy').value === 'getJokeByCategory'"> 
          <button class="joke-form__category-button"
                  [ngClass]="{'joke-form__category-button--selected': jokeForm.get('category').value === category}"
                  *ngFor="let category of categories"
                  (click)="SelectCategory(category)">
                  {{category}}
          </button>    
        </div>
      </div>
      <div class="joke-form__search">
        <mat-radio-button class="joke-form__radio joke-form__search-radio" 
                          value="getJokeBySearch">
                          Search
        </mat-radio-button>
        <textarea class="joke-form__search-field" 
               matInput 
               formControlName="search" 
               placeholder="Free text search..."
               *ngIf="jokeForm.get('getJokeBy').value === 'getJokeBySearch'"></textarea>

      </div>
    </mat-radio-group>
    <button class="joke-form__button"
            [disabled]="jokeForm.get('getJokeBy').value === 'getJokeBySearch' && !jokeForm.get('search').value"
            (click)="GetJoke()">
            Get a joke
    </button>
  </form>

  <div class="jokes" *ngIf="jokes && jokes.length > 0">
    <app-joke class="joke" 
              *ngFor="let joke of jokes" 
              [joke]="joke"
              (jokeFavourited)="FavouriteJoke($event)"
              (jokeUnfavourited)="UnfavouriteJoke($event)">
    </app-joke>
  </div>

</main>

<section class="sidebar">
  <div class="sidebar__fav-jokes-container"
       *ngIf="favJokes && favJokes.length > 0">
    <app-joke class="joke"
              *ngFor="let joke of favJokes"
              [joke]="joke"
              (jokeUnfavourited)="UnfavouriteJoke($event)">
    </app-joke>
  </div>
</section>
