@media screen and (max-width:767px) {
    .jokes-search-section {
        padding: 20px 20px 0;
        .header {
            height: 28px;
            display: flex;
            justify-content: space-between;
            font-style: normal;
            .header__left {
                width: 87px;
                height: 28px;
                font-weight: bold;
                font-size: 20px;
                line-height: 28px;
            }
            .header__right {
                display: flex;
                align-items: center;
                svg {
                    margin-right: 10px;
                }
                span {
                    width: 84px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    color: #ABABAB;
                }
            }
        }
        .heading {
            margin-top: 78px;
            p {
                height: 44px;
                line-height: 44px;
            }
            p:first-child {
                font-weight: bold;
                font-size: 32px;
            }
            p:last-child {
                width: 315px;
                font-weight: 500;
                font-size: 24px;
            }
        }
        .joke-form {
            margin-top: 43px;
        }
    }
    .fav-jokes-section--tabl {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #F8F8F8;
        overflow: scroll;
        padding: 20px 20px 0;
        p {
            width: 84px;
            height: 28px;
            line-height: 28px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #ABABAB;
        }
        .fav-jokes-section__background {
            display: none;
        }
    }
    .fav-jokes-section--desk {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .jokes-search-section {
        min-height: 100vh;
        padding: 40px 40px 0;
        .header {
            height: 28px;
            display: flex;
            justify-content: space-between;
            font-style: normal;
            .header__left {
                width: 87px;
                height: 28px;
                font-weight: bold;
                font-size: 20px;
                line-height: 28px;
            }
            .header__right {
                display: flex;
                align-items: center;
                svg {
                    margin-right: 10px;
                }
                span {
                    width: 84px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    color: #ABABAB;
                }
            }
        }
        .heading {
            margin-top: 78px;
            p {
                height: 44px;
                line-height: 44px;
            }
            p:first-child {
                font-weight: bold;
                font-size: 32px;
            }
            p:last-child {
                width: 315px;
                font-weight: 500;
                font-size: 24px;
            }
        }
        .joke-form {
            margin-top: 43px;
        }
    }
    .fav-jokes-section--tabl {
        width: 480px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 40px 40px 0;
        background-color: #F8F8F8;
        overflow: scroll;
        .fav-jokes-section__header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            svg {
                margin-right: 10px;
            }
            span {
                width: 84px;
                height: 28px;
                line-height: 28px;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: #ABABAB;
            }
        } 
        .fav-jokes-section__background {
            background-color: rgba(0, 0, 0, 0.3);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: calc(100% - 480px);
        }
    }
    .fav-jokes-section--desk {
        display: none;
    }
    
}

@media screen and (min-width: 1440px) {
    .jokes-search-section {
        width: calc(100% - 480px);
        min-height: 100vh;
        padding: 40px 140px 0;
        .header {
            .header__left {
                width: 87px;
                height: 28px;
                font-weight: bold;
                font-size: 20px;
                line-height: 28px;
            }
            .header__right {
                display: none;
            }
        }
        .heading {
            margin-top: 78px;
            p {
                height: 44px;
                line-height: 44px;
            }
            p:first-child {
                font-weight: bold;
                font-size: 32px;
            }
            p:last-child {
                width: 315px;
                font-weight: 500;
                font-size: 24px;
            }
        }
        .joke-form {
            margin-top: 43px;
        }
        .jokes {
            margin-top: 40px;
        }
    }
    .fav-jokes-section--tabl {
        display: none;
    }
    .fav-jokes-section--desk {
        width: 480px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 40px;
        background-color: #F8F8F8;
        overflow: scroll;
            p {
            width: 84px;
            height: 28px;
            line-height: 28px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #ABABAB;
        }
    }   
}

