<form class="joke-form"
      [formGroup]="jokeForm">
  <mat-radio-group class="joke-form__radio-group"
                   formControlName="getJokeBy">
    <div class="joke-form__random">
      <mat-radio-button class="joke-form__radio 
                               joke-form__random-radio" 
                         value="getJokeByRandom" 
                         checked>
                         Random
      </mat-radio-button>
    </div>
    <div class="joke-form__category">
      <mat-radio-button class="joke-form__radio 
                               joke-form__category-radio" 
                        value="getJokeByCategory">
                        From categories
      </mat-radio-button>
      <div class="joke-form__category-group"
           *ngIf="jokeForm.get('getJokeBy').value === 'getJokeByCategory'"> 
        <button class="joke-form__category-button"
                [ngClass]="{'joke-form__category-button--selected': 
                             jokeForm.get('category').value === category}"
                *ngFor="let category of categories"
                (click)="SelectCategory(category)">
                {{category}}
        </button>    
      </div>
    </div>
    <div class="joke-form__search">
      <mat-radio-button class="joke-form__radio 
                               joke-form__search-radio" 
                        value="getJokeBySearch">
                        Search
      </mat-radio-button>
      <textarea class="joke-form__search-field" 
                *ngIf="jokeForm.get('getJokeBy').value === 'getJokeBySearch'"
                formControlName="search" 
                matInput 
                placeholder="Free text search...">
      </textarea>
    </div>
  </mat-radio-group>
  <button class="joke-form__button"
          [disabled]="jokeForm.get('getJokeBy').value === 'getJokeBySearch' 
                      && !jokeForm.get('search').value"
          (click)="EmitGetJokeEvent()">
          Get a joke
  </button>
</form>
