<section class="fav-jokes--desk"
         [ngClass]="{'fav-jokes--tabl-mob-shown': favJokesService.showFavJokes,
                     'fav-jokes--tabl-mob-hidden': !favJokesService.showFavJokes}">
          <app-fav-jokes-header></app-fav-jokes-header>
          <div class="fav-jokes__list" 
               *ngIf="favJokes && favJokes.length > 0">
               <app-joke class="joke"
                         *ngFor="let favJoke of favJokes"
                         [joke]="favJoke"
                         [jokeFromFavJokes]=true>
               </app-joke>
          </div>
          <div class="fav-jokes__alert-info" 
               *ngIf="favJokes.length === 0">
               You have no favourite jokes yet
          </div>
          <div class="fav-jokes__background"></div> 
</section>
